* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main {
  height: 100%;
  width: 100%;
}
.nav {
  height: 12vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  height: 100%;
  width: 6vw;
  padding-left: 40px;
}
.nav-content {
  height: 12vh;
  width: 40vw;
}
.login {
  padding-right: 40px;
}
.loggin-button {
  height: 20vh;
  width: 15vw;
}
.background {
  height: 85vh;
  width: 100%;
  background-image: url("wp8149633.jpg");
  background-size: 100%;

  opacity: 70%;
}
.main-content {
  height: 15vh;
  width: 30%;
  position: absolute;
  right: 9rem;
  top: 12rem;
  color: white;
  font-size: 9rem;
  text-align: center;
}
